<h3>Upcoming Vacations</h3>


 <% @upcoming_vacations.each do |vacation|  %>
   <p><%= link_to vacation.name, vacation_path(vacation) %> || <%= link_to "Edit", edit_vacation_path(vacation) %></p>

    <% end %>


<h3>Past Vacations</h3>

<% @past_vacations.each do |vacation| %>
<p> <%= link_to vacation.name, vacation_path(vacation) %></p>
<% end %>

<%= link_to "Create New Vacation", new_sight_path %>
