<!-- Trip Name  -->
<!-- Destination(City) -->
<!-- start date -->
<!-- end date -->
<!-- submit -->

<!-- once "submit", saves trip name = trip.id -->
<!-- submit takes to sights/new -->

<h3><%= @vacation.name %></h3>
<div>City: <%=@vacation.sight.city %></div>
<div>Sight Name: <%= @vacation.sight.name %></div><br><br>
