<!-- user profile -->
<!-- feature two buttons: "existing trip", "create trip" -->
<!-- "create trip" button will lead to trip/new, choose city, include button "continue" which will link to trip/show(show trip) -->

<!-- list out existing trip(make it a link): list out trips(trips#index) -->

<h1> TravelBot welcomes you, <%= @user.name %> </h1>
 <button><%= link_to "View or Edit Vacations", vacations_path %> </button>
<h5><button><%= link_to "Create Your Vacation", new_sight_path %></button></h5>
