<!-- user profile -->
<!-- feature two buttons: "existing trip", "create trip" -->
<!-- "create trip" button will lead to trip/new, choose city, include button "continue" which will link to trip/show(show trip) -->

<!-- list out existing trip(make it a link): list out trips(trips#index) -->

<center><br><br><br><br><br><br><h1> Welcome to TravelBot</h1></center><br><br><br><br>

<center><%= button_to "Create Your Vacation", '/sights/new', :class => "waves-effect waves-red btn-flat", method:"get" %>
<%= button_to "View or Edit Vacations", vacations_path, :class => "waves-effect waves-red btn-flat", method:"get" %></center>
