@import 'materialize';



// $translucent-red: #f5f5f5 ;
// body {
//   color: opacify($translucent-red, 0.4);
//   background-color: transparentize($translucent-red, 1.0);
// }



 html, body, h1, h2, h3, h4, h5, h6 {
   font-family: "Gilroy";
 }



 #map {
  height: 400px;
  width: 100%;
 }

 .lindsey {
  position: absolute;
  z-index: 1;
  top: 276px;
  left: 129px;
}
